

.warehouse_table{
}
.warehouse_table_header{
    font-weight: bold;
    background-color: lightgray;
}
.td_order{
    font-weight: bold;
}

.tr_onTime{
    background-color: lightgreen;
}
.tr_delayRisk{
    background-color: yellow;
}
.tr_delayed{
    background-color: rgb(255, 204, 204);
}
.tr_delay{
    background-color: lightcoral;
}
.tr_shipped{
    background-color: lightblue;
}