<h1>Склад</h1>
<input type="button" value="Добавить" class="btn btn-default" (click) = "add()" />
<!--  <table * ngIf="tableMode; else create" class="table table-striped" > -->
  <table class="table table-striped" > 
    <thead>
        <tr>
            <td>Номер</td>
            <td>Что-то там</td>
            <td>Что-то там 2</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of rowData">
            <ng-template [ngIf]="rowData?.id != f.id" [ngIfElse]="edit">
                <td>{{f?.order}}</td>
                <td>{{f?.asCh}}</td>
                <td>{{f?.asVyvod}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editfactoryComponent(p)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
                </td >
            </ng-template >
        </tr >
    </tbody >
</table >

<!--шаблон для редактирования
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="factoryComponent.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="factoryComponent.company" class="form-control" />
    </td>
    <td>
        <input type="number" [(ngModel)]="factoryComponent.price" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>
 
шаблон для добавления 
  <ng-template #create>
    <div class="form-group">
      <label>Модель</label>
      <input type="text" [(ngModel)]="factoryComponent.name" class="form-control" />
    </div>
    <div class="form-group">
      <label>Производитель</label>
      <input type="text" [(ngModel)]="factoryComponent.company" class="form-control" />
    </div>
    <div class="form-group">
      <label>Цена</label>
      <input type="number" [(ngModel)]="factoryComponent.price" class="form-control" />
    </div>
    <div>
      <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
  </ng-template>
-->