.monitor_ctrl_icon{
    width: 313px;
    height: 276px;
    cursor: pointer;
}
.zone_col {
    padding-left: 3%;
    font-size: 24px;
    width: 10%;
}
.hint_col {
    font-weight: normal;
    font-style: italic;
}
.screen_col {
    width: 30%;
}