<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col" class="zone_col">Склад</th>
      <th scope="col" class="screen_col hint_col" colspan="4">Выберите экран для отображения или настройте новый</th>
      <th scope="col" class="screen_col"></th>
      <th scope="col" class="screen_col"><button mat-button disabled color="primary"> + Добавить</button></th>
    </tr>
  </thead>
</table>


<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Имя</th>
      <th scope="col">Перемотка</th>
      <th scope="col">Скорость перемотки</th>
      <th scope="col">Страницы</th>
      <th scope="col">Интервал обновления данных</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let screen of screensList">
      <th scope="row">
        <fa-icon class="monitor_ctrl_icon" (click)="goToWarehouseScreen(0)" [icon]="faDesktop"></fa-icon>
      </th>
      <th scope="row">{{screen.name}}</th>
      <td>{{screen.autoScroll ? 'Да':'Нет'}}</td>
      <td>{{screen.scrollInterval}} секунд</td>
      <td>Все</td>
      <td>{{screen.updatePeriod}} секунд</td>
    </tr>

    </tbody>
  </table>
