<div class="warehouse_table_container">
  <table class="table warehouse_table" *ngIf = "isTableVisible"> 
    <thead class="warehouse_table_header">
        <tr>
            <td>Заказ</td>
            <td>Заказчик</td>
            <td>План</td>
            <td>Статус</td>
            <td>Склад</td>
            <td>Комментарий</td>
            <td>Сделано&nbsp;всего</td>
        </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="2"><b>Последнее обновление:</b> {{getLastUpdateTime()}} </td>
      </tr>
    </tfoot>
    <tbody>
        <tr *ngFor="let o of dataShow"
        [ngClass]="{tr_onTime: o?.isOnTime, tr_shipped: o?.isShipped, tr_delayRisk: o?.isDelayRisk, tr_delayed: (o?.isDelayed && !o?.isDelay), tr_delay: (o?.isDelayed && o?.isDelay)}">
            <td width="5%" class="td_order">{{o?.order}}</td>
            <td width="30%">{{o?.client}}</td>
            <td width="10%">{{o?.orderDate | date:'d LLLL':'ru-RU'}}</td>
            <td width="10%">{{o?.status}}</td>
            <td width="10%">{{o?.warehouseDate | date:'d LLLL':'ru-RU'}}</td>
            <td width="20%">{{o?.comment}}</td>
            <td width="15%">
              <div class="order_percent_block">
                <div class="order_progress">
                  <div class="order_bar" [style.width]="o?.readyForShipmentPercent > 100 ? '100%' : o?.readyForShipmentPercent +'%'"></div>
                </div>
                <div class="order_percent_numbers">
                  {{o?.readyForShipmentPercent | number:'1.0-0'}}%
                </div>
              </div>
            </td>
            <!--
            <td>
                <button class="btn btn-sm btn-primary" (click)="editfactoryComponent(p)">Изменить</button>
                <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
            </td >
            -->
        </tr >
    </tbody >
  </table >
</div>

<!--шаблон для редактирования
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="factoryComponent.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="factoryComponent.company" class="form-control" />
    </td>
    <td>
        <input type="number" [(ngModel)]="factoryComponent.price" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>
 
шаблон для добавления 
  <ng-template #create>
    <div class="form-group">
      <label>Модель</label>
      <input type="text" [(ngModel)]="factoryComponent.name" class="form-control" />
    </div>
    <div class="form-group">
      <label>Производитель</label>
      <input type="text" [(ngModel)]="factoryComponent.company" class="form-control" />
    </div>
    <div class="form-group">
      <label>Цена</label>
      <input type="number" [(ngModel)]="factoryComponent.price" class="form-control" />
    </div>
    <div>
      <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
  </ng-template>
-->