.warehouse_table_container{
    height: 100%;
}
.warehouse_table{
    height: 10%;
}
.warehouse_table_header{
    font-weight: bold;
    background-color: lightgray;
}
.td_order{
    font-weight: bold;
}

.tr_onTime{
    background-color: lightgreen;
}
.tr_delayRisk{
    background-color: yellow;
}
.tr_delayed{
    background-color: rgb(255, 204, 204);
}
.tr_delay{
    background-color: lightcoral;
}
.tr_shipped{
    background-color: lightblue;
}

.order_percent_block {
    display: flex;
}

.order_progress {
    width: 100%;
    background-color: lightgray;
}
  
.order_bar {
    width: 0%;
    height: 30px;
    background-color: green;
}

.order_percent_numbers {
    width: 70px;
    text-align: right;
}

.screen_chooser_icon {
    margin-right: 15px;
    float: right;
    cursor: pointer;
}